{$DOMAIN} {
	handle /realms/* {
		reverse_proxy keycloak:8080
	}
	handle /resources/* {
		reverse_proxy keycloak:8080
	}
	handle /admin/* {
		reverse_proxy keycloak:8080
	}
	handle /js/* {
		reverse_proxy keycloak:8080
	}
	handle /robots.txt {
		reverse_proxy keycloak:8080
	}
	handle /api/* {
		reverse_proxy api-gateway:8080
	}
	handle {
		reverse_proxy frontend:80
	}
}
